<div id="topbar">
  <div id="title"><a href="/"><b>findyourself.in</b></a></div>
  <div id="social"><a href="mailto:guru@findyourself.in">@</a></div>
</div>
<div class="post">
  <h1>{{title}}</h1>
  <h2>find yourself in... {{title}}</h2>
  <div class="left">
    <a {{bind-attr href=img_url}} class="magnific-img"><img {{bind-attr src=img_url}}/></a>
    <p>{{description}}</p>
  </div>
  <div class="right">
    <a href="/"><div class="map"></div></a>
    <div class="field">
      <p><b>Location</b><br>{{place.name}}</p>
      <p><b>Latitude, Longitude</b><br>{{place.lat}}, {{place.lon}}</p>
      <p><b>Country</b><br>{{place.country}}</p>
      <p><b>Local Language</b><br>{{place.language}}</p>
      <p><b>Suggested Trip Length</b><br>{{sug_trip_len}}</p>
      <p><b>Best Time to Go</b><br>{{best_time_to_go}}</p>
      <p><b>What to Bring</b><br>{{what_to_bring}}</p>
      <p><b>Other Thoughts</b><br>{{other_thoughts}}</p>
    </div>
  </div>
</div>


